{% extends "base.html" %}
{% block css %}
<style>
.container{
	width: 1200px;
}
</style>
{% endblock %}
{% block content %}
<div class="content container">
<section>
	<div class="row about">
		<div class="col s5">
			<img src="http://placehold.it/480x300" width="100%" height="300px" />
		</div>
		<div class="col s7">
			<div class="text">
				text about us
			</div>
		</div>
	</div>
	<div class="row about">
		<div class="col s7">
			<div class="text">
				CONCEPT
			</div>			
		</div>
		<div class="col s5">
			<img src="http://placehold.it/480x300" width="100%" height="300px" />
		</div>
	</div>
</section>
<section>
	<div class="row about">
		<div class="col s6">
			<img src="http://placehold.it/580x620" width="100%" height="620px">
		</div>
		<div class="col s6">
			<div class="text" style="margin-bottom:20px;">
			</div>
			<div class="text">
			</div>
		</div>
	</div>
</section>
</div>
{% endblock %}