{% extends "base.html" %}
{% block content %}
<div class="content container">
	<div class="row archive">
		<div class="col s4">
			<a href="#" class="c">
				<img class="hoverable responsive-img" src="http://placehold.it/720x1080"/>
				<div class="overlay center-align">
				<p>COLLECTION 1</p>
				</div>
			</a>
		</div>
		<div class="col s4">
			<a href="#" class="c">
				<img class="hoverable responsive-img" src="http://placehold.it/720x1080"/>
				<div class="overlay center-align">
				<p>COLLECTION 1</p>
				</div>
			</a>
		</div>
		<div class="col s4">
			<a href="#" class="c">
				<img class="hoverable responsive-img" src="http://placehold.it/720x1080"/>
				<div class="overlay center-align">
				<p>COLLECTION 1</p>
				</div>
			</a>
		</div>
		<div class="col s4">
			<a href="#" class="c">
				<img class="hoverable responsive-img" src="http://placehold.it/720x1080"/>
				<div class="overlay center-align">
				<p>COLLECTION 1</p>
				</div>
			</a>
		</div>
	</div>
</div>
{% endblock %}
