{% extends "base.html" %}
{% block content %}
<div class="content container">
	<div class="row homepage">
		<div class="col s8">
			<a href="/lookbook/"><img class="hoverable responsive-img" src="http://placehold.it/2560x1300"/></a>
			<div class="row">
				<div class="col s6 left">
					<a href="/video/"><img class="hoverable responsive-img" src="http://placehold.it/1520x800"/></a>
				</div>
				<div class="col s6 right">
					<a href="/about/"><img class="hoverable responsive-img" src="http://placehold.it/1520x800"/></a>
				</div> 
			</div>
		</div>
		<div class="col s4">
			<a href="/activity/"><img class="hoverable responsive-img" src="http://placehold.it/1600x800"></a>
			<a href="/blog/"><img class="hoverable responsive-img" src="http://placehold.it/1600x1720"></a>
		</div>
	</div>
</div>
{% endblock %}